/* Imports */
@font-face {
  font-family: 'geo-sans-light';
  src: url("fonts/geo_sans_light/GeosansLight.ttf");
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  background: #204F80;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, label, button {
  font-family: 'geo-sans-light', sans-serif;
  font-weight: bold;
}

h1, h2, h3 {
  color: #FFD600;
}
p {

}
p.help-text {
  font-family: -apple-system,"Helvetica Neue",sans-serif;
  font-size: 12px;
  font-weight: 300;
}

/* Header Styles */
header {
  width: 100%;
  margin: 0;
  padding: 0;
}
header .sky {
  display: block;
  height: 50px;
  width: 100%;
  background: #5FB1FC;
}
header .header-img {
  width: 100%;
}
.logo {
  height: 200px;
  display: block;
  margin-top: -100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  clear: left;
}

.flash {
  width: 100%;
  text-align: center;
}
.flash.error {
  background-color: #FF5050;
}
.flash.success {
  background-color: #7BDE5B;
}

/* Layouts */
.column {
  display: inline-block;
  width: 44%;
  margin: 0 3%;
  padding: 0px;
  vertical-align: top;
  float: left;
}

.column:first-of-type {
  /*margin-right: 0%;*/
  /*clear: left;*/
}
.column:last-of-type {
  /*margin-left: 0%;*/
  /*clear: right;*/
}

.container{
  display: block;
  width: 80%;
  margin: 0 10%;
  clear: both;
}

#navbar {
  text-align: center;
}
#navbar a{
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "geo-sans-light", sans-serif;
  margin: 0 20px;
}

/* Form Elements */
form label {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1;
  margin: 20px 0;
  color: #DCEEFF;
}

form label input,
form label textarea,
button {
  display: block;
  width: 100%;
  font-size: 1em;
  margin-top: 2px;
  border-radius: 3px;
  background: #346CA5;
  color: white;
  border: none;
  outline: none;
  box-sizing: border-box !important;
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px transparent;
  transition: border-color 0.4s, box-shadow 0.4s;
}

form label input:focus,
form label textarea:focus {
  border-color: #FFD600;
  box-shadow: 0px 0px 4px #FFD600;
}

form label input:disabled,
form label textarea:disabled {
  background-color: #8B99A4;
}

form label input:invalid:not(:focus),
form label textarea:invalid:not(:focus) {
  border-color: #D91414;
  box-shadow: 0px 0px 4px #D91414;
}

form label textarea {
  line-height: 1.4;
}
form label input[type='checkbox'] {
  text-align: left;
  width: auto;
  display: inline;
}

form .big {
  padding: 16px 20px;
}
form .checkbox_help {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}

button {
  background: #FFD600;
  border: none;
  color: #2C2C31;
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.2s, background 0.3s;
}
button.big {
  padding: 16px 20px;
  margin: 40px auto;
  width: 80%;
}

button:hover {
  background: #FFC027;
  color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: #204F80;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #204F80;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #204F80;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #204F80;
  opacity: 1;
}

.admin {
  font-size: 14px;
  line-height: 14px;
}
.admin a,
.admin a:hover,
.admin a:visited {
  color: white;
}
.admin td, th {
  padding:4px;
  max-width:300px;
}
.admin.block {
  position: absolute;
  overflow-y:scroll;
  top: 0px;
  height: 100%;
}
.admin.block.left{
  left: 0px;
  width: 65%;
}
.admin.block.right {
  right: 0px;
  width: 35%;
}

@media(min-width: 0px){
  .column {
    width: 94%;
  }
  .column.mlh {
    display: none;
  }
  header .logo {
    height: 200px;
  }
  #navbar a{
    font-size: 1.1rem;
    margin: 0 10px;
  }
  .container {
    width: 98%;
    margin: 1% 1%;
  }
}
@media(min-width: 850px){
  .column {
    width: 44%;
  }
  .column.mlh{
    display: inline-block;
  }
  header .logo {
    height: 240px;
  }
  #navbar a{
    font-size: 1.4rem;
    margin: 0 20px;
  }
  .container {
    width: 88%;
    margin: 0 10%;
  }
}