<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<script>
  function get_user(user_id){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (xhttp.readyState == 4 && xhttp.status == 200) {

        // Empty the element
        node = document.getElementById("admin-more-info")
        while (node.hasChildNodes()) {
            node.removeChild(node.lastChild);
        }
        var user = JSON.parse(xhttp.responseText);
        var user_data = user['user_data'];
        var user_teammates = user['team_mates'];

        // Add the new ones
        node.innerHTML = "<table>"
        for (var key in user_data) {
          node.innerHTML = node.innerHTML + "<tr><td>" + key + "</td><td>" + user_data[key] + "</td></tr>";
        }
        node.innerHTML += "</table>"
       // . = xhttp.responseText;
      }
    };
    xhttp.open("GET", ("/admin/user/" + user_id) , true);
    xhttp.send();
  }
</script>
</head>
<body>
  <div class='admin block left'>
    <h1>Admin</h1>
    <p>
    Modify the internal object mode.<br>
    Status: o(pen), a (accepted), r (rejected), w (waitlisted), t (travel grant + accpeted), n (no travel grant + accepted)
    </p>
    <table class="admin">
      <tr>
        <th>Fname</th>
        <th>Lname</th>
        <th><a href="{{ url_for('admin') }}?order_by=id">ID</a></th>
        <th><a href="{{ url_for('admin') }}?order_by=school">School</a></th>
        <th><a href="{{ url_for('admin') }}?order_by=status">Status</a></th>
        <th><a href="{{ url_for('admin') }}?order_by=over18">18+</a></th>
        <th><a href="{{ url_for('admin') }}?order_by=team">Team</a></th>
        <th>Site</th>
        <th>Details</th>
      </tr>
      {% for user in users %}
      <tr> 
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.mlh_id }}</td>
        <td>{{ user.school_name }}</td>

        <td>
          <form method='post' action='{{ url_for("admin_update", user_id=user.user_id) }}'>
            <select name="visible_status">
            {% for status in statuses %}
              <option value='{{ status }}'
                {% if status == user.visible_status %}
                  selected 
                {% endif %}>{{ status }}</option>
            {% endfor %}
            </select>
            <select name="pending_status">
            {% for status in statuses %}
              <option value='{{ status }}'
                {% if status == user.pending_status %}
                  selected
                {% endif %}>{{ status }}</option>
            {% endfor %}
            </select>
            <input type='submit' value='upd8'>
          </form>
        </td>
        <td>{{ user.isOver18 }}</td>
        <td>{{ user.team_name }}</td>
        <td><a href='{{ user.website }}'>{{ user.website }}</a></td>
        <td><button onclick="get_user('{{ user.user_id }}')">Details</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="admin block right">
    <table id="admin-more-info">
    </table>
  </div>
</body>
</html>