{% extends "layout.html" %}
{% block body %}

<form class=entries action="{{ url_for('apply') }}" method="post" enctype="multipart/form-data">

  <div class="container">

    <h1>Complete your application</h1>

    <!-- MLH Section -->
    <div class="column mlh">
      {% for field_id, data in mlh_data.items() %}
        <label>{{ data['friendly_name'] }}
          <span class='required-asterisk' 
            style="display:{{"inline" if data['required'] else "none"}};">*</span>
          <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{ data['value'] }}" placeholder="{{ data['placeholder'] }}" {{ "" if data['editable'] else "disabled"}} {{ "required" if data['required'] else ""}}>
        </label>      
      {% endfor %}
    </div>

    <!-- HackNC Section -->
    <div class="column">
      {% for field_id, data in form_data.items() %}
        <label>{{ data['friendly_name'] }}
        <span class='required-asterisk' 
          style="display:{{"inline" if data['required'] else "none"}};">*</span>
          
          {% if data['formtype'] == 'textarea' %}
            <p class="help-text">{{ data['help_text']}}</p>
            <textarea class="form-control big" id="{{ field_id }}" name="{{ field_id }}" rows="3" pattern="{{data['pattern']}}" placeholder="{{ data['placeholder'] }}" 
                {{ 'disabled' if not data['editable'] else ''}} {{ "required" if data['required'] else ""}}>{{ data['value'] }}</textarea>
          
          {% elif data['formtype'] == 'dropdown' %}
            <p class="help-text">{{ data['help_text']}}</p>
            <select name="{{ field_id }}" {{ "required" if data['required'] else '' }}>
              
              {% for option in data['options'] %}
                <option value="{{ option }}" 
                  {{ "selected" if current_user[field_id] == option else ""}}>{{ option }}</option>
              {% endfor %}
            
            </select>
          {% elif data['formtype'] == 'checkbox' %}
            <br>
            <input type="checkbox" name="{{ field_id }}" value="true"
              {{"checked" if current_user[field_id] else "" }}
              {{"required" if data['required'] else '' }}>
            <span class="checkbox-indicator"><span class='checkmark'></span></span>
            <span class="checkbox_help">{{ data['help_text'] }}</span><br>
          {% elif data['formtype'] == 'date' %}
            <p class="help-text">{{ data['help_text']}}</p>
              <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{  data['value'] }}" placeholder="{{ data['placeholder'] }}" 
                {{ 'disabled' if not data['editable'] else ''}} 
                {{ "required" if data['required'] else ""}}>
          {% else %}
            <p class="help-text">{{ data['help_text']}}</p>
            <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{  data['value'] }}" pattern="{{data['pattern']}}" placeholder="{{ data['placeholder'] }}" 
              {{ 'disabled' if not data['editable'] else ''}} 
              {{ "required" if data['required'] else ""}}>
          
          {% endif %}
        </label>
      {% endfor %}
      
      <label>Resume Upload
        <p class="help-text">{{ "You've uploaded a resume." if current_user.resume_location else "No resume on file" }}</p>
        <input type="file" class="form-control big" name="resume">
      </label>
      <div class="team">
      <!-- <h2>Team</h2>
        {% for teammate in teammates %}
        {{ teammate }}<br>
        {% endfor %} -->
      </div>
    
      <p class="help-text">You can submit as many times as you want until applications close.</p>
      </label>
      <button class="big" type="submit">Submit!</button>
    </div>

</form>
  
{% endblock %}