{% extends "layout.html" %}
{% block body %}

<form class=entries action="{{ url_for('apply') }}" method="post" enctype="multipart/form-data">

  <div class="container">

    <h1>Complete your application</h1>
    <p>Fill out a few more questions below so we can get to know you!  Required fields are marked with an asterisk (*)</p>

    <!-- MLH Section -->
    <div class="column mlh">
      {% for field_id, data in mlh_data.items() %}
        <label>{{ data['friendly_name'] }}
          <span class='required-asterisk' 
            style="display:{{"inline" if data['required'] else "none"}};">*</span>
          <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{ data['value'] }}" placeholder="{{ data['placeholder'] }}" {{ "" if data['editable'] else "disabled"}} {{ "required" if data['required'] else ""}}>
        </label>      
      {% endfor %}
    </div>

    <!-- HackNC Section -->
    <div class="column">
      <label>Resume Upload
        <p class="help-text">{{ "You've uploaded a resume." if current_user.resume_location }}</p>
        <input type="file" class="form-control big" name="resume">
      </label>
      {% for field_id, data in form_data.items() %}
        <label
          style="{{'display: none;' if field_id == 'preferred_travel_method' and current_user['needs_reimbursement'] != 'Yes'}}"
          title="{{field_id}}"
        >
        {{ data['friendly_name'] }}
        <span class='required-asterisk' 
          style="display:{{"inline" if data['required'] and not data['formtype'] == 'checkbox' else "none"}};">*</span>
          
          {% if data['formtype'] == 'textarea' %}
            <p class="help-text">{{ data['help_text']}}</p>
            <textarea class="form-control big" id="{{ field_id }}" name="{{ field_id }}" rows="3" pattern="{{data['pattern']}}" placeholder="{{ data['placeholder'] }}" 
                {{ 'disabled' if not data['editable'] else ''}} {{ "required" if data['required'] else ""}}>{{ data['value'] }}</textarea>
          
          {% elif data['formtype'] == 'dropdown' %}
            <select name="{{ field_id }}" 
              style="{{ 'color: #204F80;' if not current_user[field_id] }}"
              {{ "required" if data['required'] else '' }}
            >
              
              <option value="" disabled 
              {{ "selected" if not current_user[field_id] or current_user[field_id].length == 0 }}>{{data['help_text']}}</option>
              {% for option in data['options'] %}
                <option value="{{ option }}" 
                  {{ "selected" if current_user[field_id] == option else "" }}>{{ option }}</option>
              {% endfor %}
            
            </select>
          {% elif data['formtype'] == 'checkbox' %}
            <br>
            <input type="checkbox" name="{{ field_id }}" value="true"
              {{"checked" if current_user[field_id] else "" }}
              {{"required" if data['required'] else '' }}>
            <span class="checkbox-indicator"><span class='checkmark'></span></span>
            {{ data['help_text'] }}
            {% if data['required'] %}
              <span class='required-asterisk'>*</span>
              <span class="required-text">Required</span>
            {% endif %}
            <br>
          {% elif data['formtype'] == 'date' %}
            <p class="help-text">{{ data['help_text']}}</p>
              <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{  data['value'] }}" placeholder="{{ data['placeholder'] }}" 
                {{ 'disabled' if not data['editable'] else ''}} 
                {{ "required" if data['required'] else ""}}>
          {% else %}
            <p class="help-text">{{ data['help_text']}}</p>
            <input type="{{ data['formtype'] }}" class="form-control big" id="{{ field_id }}" name="{{ field_id }}" value="{{  data['value'] }}" pattern="{{data['pattern']}}" placeholder="{{ data['placeholder'] }}" 
              {{ 'disabled' if not data['editable'] else ''}} 
              {{ "required" if data['required'] else ""}}>
          
          {% endif %}
        </label>
      {% endfor %}
      
      <div class="team">
      <!-- <h2>Team</h2>
        {% for teammate in teammates %}
        {{ teammate }}<br>
        {% endfor %} -->
      </div>
    
      </label>
      <button class="big" type="submit">Submit!</button>
    </div>

</form>
<script type="text/javascript" src="static/index.js"></script>
{% endblock %}