{% extends "layout.html" %}
{% block body %}
<!-- HackNC Section -->
<form class=entries action="{{ url_for('dashboard') }}" method="post" enctype="multipart/form-data">
  <!-- <p><a href="{{ mlh_edit_link }}">Edit MLH Data</a> | <a href="{{ url_for('index') }}">Refresh MLH Data</a></p> -->
<!-- MLH Section -->
  <div class="container">
    <h1>Complete your application</h1>
  </div>
  <div class="column">
      {% for field, value in mlh_data %}
        <label>{{ field }}
          <input type="text" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ value }}" disabled>
        </label>      
      {% endfor %}
  </div>

  <div class="column">
    {% for field_id, data in form_data.items() %}
      <label>{{ data['friendly_name'] }}
        {% if data['formtype'] == 'textarea' %}
          <textarea class="form-control" id="{{ field_id }}" name="{{ field_id }}" rows="3" pattern="{{data['pattern']}}"
          {{ 'disabled' if not data['editable'] else ''}}>
            {{ data['value'] }}
          </textarea>
        {% else %}
          <input type="{{ data['formtype'] }}" class="form-control" id="{{ field_id }}" name="{{ field_id }}" value="{{  data['value'] }}" pattern="{{data['pattern']}}" placeholder="hello" {{ 'disabled' if not data['editable'] else ''}}>
        {% endif %}
      </label>
    {% endfor %}
    <label>Resume Upload
      <input type="file" class="form-control" name="resume">
    </label>
    <div class="team">
    <!-- <h2>Team</h2>
      {% for teammate in teammates %}
      {{ teammate }}<br>
      {% endfor %}
    </div> -->
    <button type="submit">Submit!</button>
  </div>
</form>
  
{% endblock %}