{% extends "layout.html" %}
{% block body %}
  <div class="container">

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

          <img class="logo" src="{{ url_for('static', filename='img/title.png') }}"/>
          
          <button class="mlh-login big" onclick="location.href='{{ auth_url }}'">Log In with MLH</button>

          <!-- <button class="mlh-login big" onclick="location.href='{{ url_for('login') }}'">Sponsor/Mentor Login</button> -->

      </div>

    </div>
  
  </div>
  
{% endblock %}