<!doctype html>
<head>
    <title>My HackNC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<div class="page">
    <header class="header">
      <div class="sky"></div>
      <img class="header-img" src="{{ url_for('static', filename='img/header.png') }}"/>
      <img class="logo" src="{{ url_for('static', filename='img/title.png') }}"/>
    </header>
    <section class="flashed-messages">
      {% for message in get_flashed_messages() %}
        <div class=flash><p class="bg-info">{{ message }}</p></div>
      {% endfor %}
    </section>
    <section class="content">
      {% block body %}{% endblock %}
    </section>
</div>