.shell {
    width: 100%;
    background-color: #2C2C31;
}
p {
    font-size: 16px;
}
p.help-text {
    font-size: 12px;
    font-style: italic;
}
.admin td, th {
    padding:6px;
}
.flash p {
    padding: 8px;
}
img.header-img {
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
}