{% extends "layout.html" %}
{% block body %}
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-8 registration-header">
        <h1>Registration</h1>
        <p>Please complete the HackNC Data section to finalize your application.  You can save your progress and come back at any time.  Your progress will be automatically submitted when registration closes.</p>
      </div>

      <div class="col-sm-6 col-md-4">
        <h2>Status - {{ status_dict['friendly_name'] }}</h2>
        <p>{{ status_dict['help_text'] }}</p>
      </div>
    </div>

    <div class="row">

    <!-- HackNC Section -->

      <div class="col-sm-6 col-md-8">
        <h2>HackNC 2016</h2>
        <p>Please give us a little more info so we can get to know you!</p>
        
        <form class=entries action="{{ url_for('dashboard') }}" method="post" enctype="multipart/form-data">

          <div class="form-group">
            <label for="what_to_learn">{{ data['what_to_learn']['friendly_name'] }}</label>
            <p class="help-text">{{ data['what_to_learn']['help_text'] }}</p>
            <textarea class="form-control" id="what_to_learn" name="what_to_learn">{{ data['what_to_learn']['value'] }}</textarea>
          </div>

          <div class="form-group">
            <label for="background">{{ data['background']['friendly_name'] }}</label>
            <p class="help-text">{{ data['background']['help_text'] }}</p>
            <textarea class="form-control" id="background" name="background">{{ data['background']['value'] }}</textarea>
          </div>

          <div class="form-group">
            <label for="team_name">{{ data['team_name']['friendly_name'] }}</label>
            <p class="help-text">{{ data['team_name']['help_text'] }}</p>
           <input type="text" class="form-control" id="team_name" name="team_name" value="{{  data['team_name']['value'] }}">
          </div>

          <div class="form-group">
            <label for="github">{{ data['github']['friendly_name'] }}</label>
            <p class="help-text">{{ data['github']['help_text'] }}</p>
           <input type="text" class="form-control" id="github" name="github" value="{{  data['github']['value'] }}">
          </div>

          <div class="form-group">
            <label for="website">{{ data['website']['friendly_name'] }}</label>
            <p class="help-text">{{ data['website']['help_text'] }}</p>
           <input type="text" class="form-control" id="website" name="website" value="{{  data['website']['value'] }}">
          </div>

          <div class="form-group">
            <label for="mac_address">{{ data['mac_address']['friendly_name'] }}</label>
            <p class="help-text">{{ data['mac_address']['help_text'] }}</p>
           <input type="text" class="form-control" id="mac_address" name="mac_address" value="{{  data['mac_address']['value'] }}">
          </div>

          <div class="form-group">
            <label for="resume">Resume Upload</label>
            <input type="file" class="form-control" name="resume">
          </div>
          <input type=submit value="Save">
        
        </form>

        <h2>Team</h2>

        {% for teammate in teammates %}
        {{ teammate }}<br>
        {% endfor %}
        
      </div>

      <!-- MLH Section -->

      <div class="col-sm-6 col-md-4">
        <h2>MLH Data</h2>  
        <p><a href="{{ mlh_edit_link }}">Edit MLH Data</a> | <a href="{{ url_for('index') }}">Refresh MLH Data</a></p>
        <form>
          {% for field, value in mlh_data %}
          
          <div class="form-group">
            <label for="{{ field }}">{{ field }}</label>
            <input type="text" class="form-control" id="{{ field }}" name="{{ field }}" value="{{ value }}" disabled>
          </div>
        
          {% endfor %}
        </form>
      </div>

    </div>
  </div>
  
{% endblock %}